@model IEnumerable<Food.Models.ReviewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- catg header banner section -->
<div class="hero-wrap hero-bread" style="background-image: url('@ViewBag.Img1');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Product Single</span></p>
                <h1 class="mb-0 bread">Product Single</h1>
            </div>
        </div>
    </div>
</div>




<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <!-- / <a href="images/product-1.jpg" class="image-popup"><img src="images/product-1.jpg" class="img-fluid" alt="Colorlib Template"></a> -->
                <a data-lens-image="@ViewBag.Img1" class="image-popup"><img src="@ViewBag.Img1" class="img-fluid"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>@ViewBag.NameProduct</h3>
                <p class="price"><span>$@ViewBag.Price</span></p>
                <p>
                    @ViewBag.ShortDescription
                </p>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <form asp-controller="ProductDetail" asp-action="AddToCart" method="post" class="form-group">
                            <div class="select-wrap">
                                <select class="form-control" id="quantityProuct" name="quantityProuct">
                                    <option selected="1" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div>
                                <input type="text" name="productid" value="@ViewBag.Id" id="productid" hidden />
                            </div>
                            <br />
                            <div class="aa-prod-view-bottom">
                                <input type="submit" class="btn btn-black py-3 px-5" value="Add To Cart" />
                            </div>
                        </form>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</section>


    <!-- END comment-list -->
    <section class="ftco-section ftco-degree-bg">
      <div class="container">
            <div class="pt-5 mt-5">
            <h3 class="mb-5">Reviews
@*                @{
                    foreach (var item in Model)
                    {
                            
                    }
                }*@
                </h3>
                <ul class="comment-list">
                @{
                    foreach (var item in Model)
                    {
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="~/assetsb/images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>@item.review_UserName</h3>
                                <div class="meta">@item.review_UploadTime</div>
                                <p>@item.review_Comment</p>
                            </div>


                        </li>
                    }
                }
                </ul>
            </div>
            <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Form comment</h3>
                <form asp-controller="ProductDetail" asp-action="Comment" method="post" class="p-5 bg-light">
                    <div>
                    <input type="text" id="idproduct" name="idproduct" value="@ViewBag.Id" hidden />
                    </div>
                    <div class="form-group">
                        <label for="name">Content *</label>
                        <input type="text" id="" name="comment" class="form-control" />
                        @*<input type="text" class="form-control" id="name" name="comment">*@
                    </div>
                   
                    <div class="form-group">
                    <input type="submit" value="Comment" class="btn py-3 px-4 btn-primary">
                    </div>
                    <label>@ViewBag.Mess</label>
                </form>
            </div>
        </div>
    </section>
    

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Products</span>
                <h2 class="mb-4">Related Products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @{
                foreach (var item in ViewBag.ProductList)
                    {
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="/productdetail?id=@item.pd_Id" class="img-prod">
                                <img class="img-fluid" src="@item.pd_Img1" alt="Colorlib Template">
                                <span class="status">30%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="/productdetail?id=@item.pd_Id">@item.pd_Name</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">$@item.pd_Price</span><span class="price-sale">$@item.pd_Price</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        <a href="/productdetail?id=@item.pd_Id" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                        <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            }


        </div>
    </div>
</section>




<script src="https://www.google.com/recaptcha/api.js" async defer></script>



